<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    
</head>
<body>
    <h1>UZ-ENG Dictionary</h1>
    <form method="GET" action="/" class="search">
        <input name="q" value="{{q}}" type="text" placeholder="Search">
    </form>
   
    <div class="result">
    
    <table>
        <p>Result</p>
       
        {% if result %}
        {% for tarjima in result %}
        <tr>
             
             <td>{{tarjima.uzbekcha}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    </div>

</body>
</html>